@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-whitegrey text-darkgrey no-scrollbar;
  }
}

@layer components {
  .btn {
    @apply font-semibold text-darkgrey bg-whitegrey border-2 border-darkgrey  dark:text-whitegrey dark:bg-darkgrey dark:border-whitegrey  hover:opacity-70 shadow-md py-1 px-4 rounded-2xl;
  }
}

@layer utilities {
  .p-21 {
    padding: 5.5rem;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .slidein {
    animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
  }
  .fadeup {
    animation: fadeup 1s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
  }
  @variants hover,focus {
  }
}

/* キーフレームアニメーション */

@keyframes slideIn {
  0% {
    transform: translateX(180px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
  40%,
  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes poyoyon {
  0% {
    transform: translateX(140px);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
  }
  65% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
  }
  20%,
  100% {
    opacity: 1;
  }
}

@keyframes fadeup {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
